* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-rigth {
    position: absolute;
    right: 0;
    width: 100px;
    top: 25px;
    z-index: 111;
    
}
.navbar-rigth .icon {
    float: right;
    text-align: center;
    width: 100%;
    
}
.navbar-rigth .icon .icon-back {
    font-size: 20px;
    color: #fff;
    background-color: #939499;
    padding: 15px 18px;
    border-radius: 50%;
}
.navbar-rigth .icon .icon-back:hover {
    color: #000;
    cursor: pointer;
    transition: 0.4s;
}
.navbar-rigth .icon .icon-end {
    background-color: #189a46;
    color: #fff;
    font-size: 16px;
    margin-top: 200px;
    padding: 18px 20px;
    border-radius: 50%;
}
.navbar-rigth .item {
    background-color: #000;
    color:#939499;
    padding: 30px 10px;
    text-align: center;
    border-bottom-left-radius: 10px;
}
.navbar-rigth .item .back:hover ,.Download:hover ,.Buy:hover {
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}
.navbar-rigth .item .Download {
    margin: 30px 0;
}
.navbar-rigth .item i {
    font-size: 20px;
}
.navbar-rigth .item p {
    font-weight: 600;
}

/* carousel  */
.carousel {
    height: 250px;
    background: url("../img/banner4.jpg") center / cover no-repeat;
    margin-top: 90px;
    position: relative;
    z-index: 1;
}
.carousel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.carousel .container {
    position: relative;
    top: 30%;
}

.carousel .carousel-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.carousel .carousel-text h2 {
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

.carousel .carousel-text .breadcrumb {
    transform: translateX(40px);
    font-size: 1.2em;
}

.carousel .breadcrumb-item a {
    color: #189A46;
}

.carousel .breadcrumb-item+.breadcrumb-item::before {
    display: none;
}
/* about-us  */
#about-us .container {
    margin: auto;
    padding: 60px
}
#about-us .container .row {
    padding: 40px 30px ;
}
#about-us .container .row .col .item-1 h4 {
    font-size: 20px;
    color: #f53626;
    font-weight: 400;
}
#about-us .container .row .col .item-1 h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}
#about-us .container .row .col .item-1 span {
    font-weight: 700;
    font-size: 20px;
}
#about-us .container .row .item-1 {
    padding: 40px 0;
}
#about-us .container .row .item-2 p{
    font-size: 18px;
    opacity: 0.6;
    margin-bottom: 20px;
}
#about-us .container .row .item-2 a {
    text-decoration: none;
    color: #000;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid #189A46;
}
#about-us .container .row .item-2 a:hover {
    color: #189A46;
    cursor: pointer;
    transition: 0.4s;
}
/* history  */
#history {
    background-image: url("../img/banner2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 560px;
    position: relative;
}
#history::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
}
#history .container {
    margin: auto;
    padding: 50px;
    max-width: 1200px;
    position: relative;
}
#history .container .item {
   position: absolute;
   top: 115px;
   left: 45%;
   color: #fff;
}
#history .container .item h4 {
    font-size: 20px;
    color: #f53626;
    font-weight: 400;
}
#history .container .item h2 {
    font-size: 42px;
    font-weight: 600;
}
#history .container .item p {
    opacity: 0.7;
    font-size: 20px;
    margin: 20px 0 35px 0;
}
#history .container .item .col h3{ 
    font-size: 22px;
}
#history .container .item .col span {
    opacity: 0.7;
}
/* choose-us  */
#choose-us .container {
    margin: auto;
    padding: 72px;
}
#choose-us .container .col-text-1 {
    text-align: right;
    padding: 20px;
}
#choose-us .container .col-text-1 h4 {
    color: #f53626;
    font-size: 20px;
    font-weight: 400;
}
#choose-us .container .col-text-1 h2 {
    font-size: 34px;
    font-weight: 700;
    margin: 25px 0;
}
#choose-us .container .col-text-1 p {
    font-size: 19px;
    line-height: 1.6;
    opacity: 0.8;
    margin-bottom: 30px;
}
#choose-us .container .col-text-1 img{
    width: 100%;
    border-radius: 10px;
}
#choose-us .container .col-text-2 {
    padding: 16px 20px 16px 20px;
}
#choose-us .container .col-text-2 .row {
    margin-bottom: 10px;
}
#choose-us .container .col-text-2 .row .col-10 {
    padding: 0;
}
#choose-us .container .col-text-2 i{
    font-size: 40px;
    color: #189A46;
    padding-top: 20px;
}
#choose-us .container .col-text-2 a {
    font-size: 25px;
    font-weight: 700;
}
#choose-us .container .col-text-2 a:hover {
    color: #189A46;
    transition: 0.4s;
    cursor:pointer;
}
#choose-us .container .col-text-2 span {
    font-size: 18px;
    opacity: 0.8;
    line-height: 1.6;
}
/* team  */
#team {
    background-color: #936be80d;
}
#team .container {
    margin: auto;
    padding: 70px;
    text-align: center;
}
#team .container h4 {
    font-size: 18px;
    color: #f53626;
    font-weight: 400;
}
#team .container h2 {
    font-size: 38px;
    font-weight: 700;
    margin: 20px 0 50px 0;
}
#team .container .col .card{
    border: none !important;
    background-color: #f9f7fe !important;
    max-width: 100%;
    padding: 5px;
}
#team .container .col .card .card-img {
    overflow: hidden;
}
#team .container .row .col img {
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s linear;
}
#team .container .row .col:hover img {
    transform: scale(1.1 ,1.1);
    /* transition: 0.5s; */
}
#team .container .row .card-title {
    font-size: 22px;
    font-weight: 700;
}
#team .container .row .card:hover .card-title {
    color: #189A46;
    transition: 0.4s;
}
#team .container .row .card-text {
    opacity: 0.8;
}
#team .container .row .icon i {
    font-size: 14px ;
    background-color: #936be80d;
    padding: 7px 8px;
    color: #189A46;
    border-radius: 5px;
}
#team .container .row .icon i:hover {
    background-color: #189A46;
    color: #fff;
    transition: 0.4s;
}
#team .container .row .icon .icon-facebook {
    padding: 7px 11px;


}

/* reponsive */
@media screen and (max-width :992px) {
    #history .container .item {
        top: 60px;
        left: 60px;
    }
    #choose-us .container .col-text-1 {
        text-align: left;
        padding: 20px;
    }
}
@media screen and (max-width :768px) {
    #history .container .item {
        top: 40px;
        left: 40px;
    }
   
}
@media screen and (max-width :576px) {
    #history .container .item {
        top: 20px !important  ;
        left: 20px!important;

    }
    #team .container .col .card {
        width: 250px !important;
    }
}